
  <div class="row">
    <div class="col-md-12">
      <%= form_for [@event, Comment.new] do |f| %>
      
        <%= f.label :Write_a_comment %>
        <%= f.text_area :body, class: "form-control" %>
        
        <%= f.submit "Submit", class: "btn btn-success form-control" %>
      <% end %>
    </div>
  </div>


