
<div class="comment row">
  <div class="col-md-12">
      <h5><%= comment.user.username %></h5>
      <p><%= comment.body %></p>
      <p class="pull-right">Posted <%= time_ago_in_words(comment.created_at) %> ago</p>
  </div>
</div>