// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event {
  border: 3px solid #5A6351;
  border-radius: 5px;
  padding: 0 7px 0 7px;
  margin-bottom: 10px;
  h1, h3 {
    font-family: 'Bungee', cursive;
  }
  .btn {
    margin-bottom: 10px;
  }
  .image {
    width: 100%;
  }
}
