// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event {
  position: relative;
  background-color: white;
  border: 3px solid #5A6351;
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 0 7px 0 7px;
  margin: 10px 0 20px 0;
  h1, h2, h3, h4 {
    margin: 10px 0 0 0;
  }
  .content {
    margin: 15px 0 10px 0;
  }
  .body {
    margin-top: 5px;
  }

  .event-image {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0;
    margin: 0 0 0 0;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    margin: 0;
  }
  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 0;
  }
  a {
    position: absoulute;
    top: 0;
    margin-right: 7px;
    float: right;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
  .btn {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 980px){
  .event {
    .event-image {
      margin: 0 0 0 0;
    };
  }
}
