<header>
        <div class="row col-md-12 navbar  navbar-static-top navbar-custom">


   <div id="wrapper">

       <div class="overlay"></div>

       <!-- Sidebar -->
       <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

           <ul class="nav sidebar-nav">
               <li class="sidebar-brand">
                   <a href="#">
                      Brand
                   </a>
               </li>
               <li>
                   <a href="#">Home</a>
               </li>
               <li>
                   <a href="#">About</a>
               </li>
               <li>
                   <a href="#">Events</a>
               </li>
               <li>
                   <a href="#">Team</a>
               </li>
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                   <li class="dropdown-header">Dropdown heading</li>
                   <li><a href="#">Action</a></li>
                   <li><a href="#">Another action</a></li>
                   <li><a href="#">Something else here</a></li>
                   <li><a href="#">Separated link</a></li>
                   <li><a href="#">One more separated link</a></li>
                 </ul>
               </li>
               <li>
                   <a href="#">Services</a>
               </li>
               <li>
                   <a href="#">Contact</a>
               </li>

           </ul>
       </nav>
       <!-- /#sidebar-wrapper -->

       <!-- Page Content -->




       <!-- /#page-content-wrapper -->


   <!-- /#wrapper -->
    <div class="navbar-header">


     <div id="page-content-wrapper">
           <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
             <span class="hamb-middle"></span>
       <span class="hamb-bottom"></span>

           </button>
          </div>

                               <a class="navbar-brand font-custom text-custom" href="#">Project name</a>
                           </div>
                                   <ul class="nav navbar-nav navbar-right nav-custom" >
                                           <li> <a class="font-custom text-custom">Username</a></li>
                                           <li> <button id="notifications" type="button" class="btn btn-navbar btn-custom">
                                                   <span   class="glyphicon glyphicon-bell glyph-custom badge" > 24</span>
                                                </button>
                                           </li>

                                           <li><button id="settings" type="button" class="btn  btn-navba btn-custom" >
                                               <span  class="glyphicon glyphicon-cog glyph-custom" ></span>
                                                </button>
                                           </li>

                                           <li > <button id="logout" type="button" class="btn  btn-navbar btn-custom">
                                                   <span   class="glyphicon glyphicon-log-out glyph-custom"></span>
                                                </button>
                                           </li>
                                   </ul>
                        </div>
                   </div>
            </div>
</header> <!-- End of Header -->







   
